@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --first-color: #3f3d90;
  --second-color: #2691d9;
  --third-color: #e9f4fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: var(--first-color);
}

/* custom scroll bar  #3f3d56*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--second-color);
}
::-webkit-scrollbar-thumb {
  background: var(--second-color);
}
::selection {
  background: var(--second-color);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: sticky;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
  border-bottom: 2px solid var(--second-color);
}
.navbar .sticky {
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--third-color);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
  background: none;
}
.menu-list li a {
  color: var(--third-color);
  background: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list a:hover {
  color: var(--second-color);
  border-bottom: 1px solid var(--second-color);
  transition: 0.5s;
}

.icon {
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

/*--------------*/

.container {
  max-width: 500px;
  width: 90%;
  margin: 40px auto;
}

.content {
  width: 100%;
}

.txt-home {
  color: var(--third-color);
  padding-left: 23px;
  padding-top: 10px;
  margin-left: 57px;
  float: left;
  position: relative;
  width: 45%;
  height: auto;
  margin-top: 85px;
}

.img-home {
  padding-top: 10px;
  padding-left: 3px;
  margin-left: -105px;
  position: relative;
  float: left;
  width: 45%;
  height: auto;
}

.txt {
  text-align: left;
  padding-top: 40px;
  font-size: 26px;
  color: var(--second-color);
}
.blink {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-stats {
  margin-top: 30px;
  margin-left: 35%;
  transform: translateX(-50%);
  width: 30%;
  height: 40px;
  border: 1px solid;
  background: var(--first-color);
  border-radius: 25px;
  font-size: 18px;
  color: var(--third-color);
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn-stats:hover {
  border-color: var(--second-color);
  color: var(--second-color);
  transition: 0.5s;
}

.footer p {
  color: #8e8e8e;
  background-color: #3f3d56;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  margin-top: 40%;
  bottom: 0;
}

.footer a {
  background: none;
  color: #8e8e8e;
}

.footer a:hover {
  color: #f5f5f5;
}
